:root {
  --float-distance: 30px; /* amplitude verticale */
  --float-duration: 3s; /* vitesse de lévitation */
  --spin-duration: 60s; /* vitesse de rotation */
  --easing: cubic-bezier(0.4, 0, 0.2, 1); /* easing moderne */
}

main {
  padding: 0 !important;
}

section {
  margin: 0 !important;
}

.game {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/png/voyage.png");
  background-size: cover;
}

/* ======================================================================== */
/* ASTEROIDE */
/* ======================================================================== */
.asteroide {
  width: 20%;
}

.levitate.spin {
  animation: float var(--float-duration) var(--easing) infinite alternate, spin var(--spin-duration) linear infinite;
  will-change: transform;
}

.hit {
  animation: hit 200ms ease-out;
}

/* ======================================================================== */
/* COUNTDOWN */
/* ======================================================================== */
.game-countdown {
  font-family: "Jersey 20", sans-serif;
  font-size: 7rem;
  top: 2rem;
  color: white;
  position: absolute;
}

/* ======================================================================== */
/* SCREEN TITLE */
/* ======================================================================== */
.screen-title {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}

.ladder {
  width: 800px;
  height: 850px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.ladder ul {
  height: 400px;
}

.ladder h1,
li,
p,
ul {
  font-family: "Jersey 20", sans-serif;
  color: white !important;
  margin: 0 !important;
}

.ladder h1 {
  font-size: 4rem;
}

.ladder div p {
  font-size: 1.3rem;
}

/* ======================================================================== */
/* ANIMATIONS */
/* ======================================================================== */
@keyframes float {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 calc(-1 * var(--float-distance));
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

@keyframes hit {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}
