body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

/* ======================================================================== */
/* TITLE */
/* ======================================================================== */

.title {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  margin: 2.5rem 0;
}

.title > h1 {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin: 0;
  animation: levitation 2.5s ease-in-out infinite;
}

/* ======================================================================== */
/* VIDEO */
/* ======================================================================== */

#video-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  aspect-ratio: 16/9;
}

#video-container video {
  max-width: 1450px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

#video-container img {
  position: absolute;
}

#countdown {
  font-family: "Jersey 20", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  color: white;
}

/* ======================================================================== */
/* INFOS & QR CODE */
/* ======================================================================== */

.qr-code,
.infos {
  text-align: center;
  margin: 0 4.5rem;
}

.qr-code > img {
  width: 11rem;
}

.qr-code > h3,
.infos > h3 {
  font-size: 3rem;
  font-family: "Jersey 20", sans-serif;
}

/* ======================================================================== */
/* MODAL PREVIEW */
/* ======================================================================== */

#modalPicturePreview h2 {
  font-family: "Jersey 20", sans-serif;
  text-align: center;
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
}

#modalPicturePreview > article {
  max-width: 1100px;
}

#modalPicturePreview footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 25%;
}

.btn-modal {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn-modal > p {
  font-family: "Jersey 20", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 0;
}
/* ======================================================================== */
/* SPINNER / LOADER */
/* ======================================================================== */
#busyLoader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 9999;
  margin: 0;
}

.alexis-walk {
  display: inline-block;
  width: 270px;
  height: 600px;
  background: url("../assets/png/alexis-ss.png") 0 0 / 1080px 600px no-repeat;
  animation: alexis-animation-walk 0.75s steps(4) infinite;
  image-rendering: pixelated;
  transform: scale(0.4);
  position: absolute;
}

.vefa-walk {
  display: inline-block;
  width: 270px; /* largeur d'une frame */
  height: 440px; /* hauteur d'une frame */
  background: url("../assets/png/vefa-ss.png") 0 0 / 540px 440px no-repeat;
  animation: vefa-animation-walk 0.6s steps(2) infinite;
  image-rendering: pixelated;
  transform: scale(0.5);
  margin: 85px 100px 0 0;
}

#busyLoader p {
  font-family: "Jersey 20", sans-serif;
  position: absolute;
  margin-top: 400px;
  color: white;
  font-size: 2rem;
}

/* ======================================================================== */
/* GALLERY INSTRUCTION */
/* ======================================================================== */

.gallery-link {
  font-family: "Jersey 20", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
  text-transform: uppercase;
}

/* ======================================================================== */
/* ANIMATIONS */
/* ======================================================================== */

@keyframes alexis-animation-walk {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1080px;
  }
}

@keyframes vefa-animation-walk {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -540px;
  } /* 2 frames de 270px = 540px */
}

@keyframes levitation {
  0% {
    transform: translateY(0);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  }
  50% {
    transform: translateY(-12px);
    text-shadow: 0 16px 24px rgba(0, 0, 0, 0.15);
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  }
}
