:root {
  --frameBtn: 16px;
  --framesBtn: 2;
  --scale: 5;
  --typo: "UnifrakturCook", cursive;
  --red: rgb(160, 32, 32);
  --white: white;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/png/emo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

/* ======================================================================== */
/* TITLE */
/* ======================================================================== */

.title {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  margin: 2.5rem 0;
}

.title > h1 {
  font-family: var(--typo);
  font-style: normal;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin: 0;
  animation: levitation 2.5s ease-in-out infinite;
  color: var(--red);
}

/* ======================================================================== */
/* VIDEO */
/* ======================================================================== */

#video-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  aspect-ratio: 16/9;
}

#video-container video {
  max-width: 1450px;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 0;
}

#video-container img {
  position: absolute;
  z-index: 1;
}

#countdown {
  font-family: var(--typo);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  color: white;
  z-index: 1;
}

.mirror {
  transform: scaleX(-1);
}

/* ======================================================================== */
/* INFOS & QR CODE */
/* ======================================================================== */

.qr-code,
.infos {
  text-align: center;
  margin: 0 4.5rem;
}

.qr-code > img {
  width: 11rem;
}

.qr-code > h3,
.infos > h3 {
  font-size: 3rem;
  font-family: var(--typo);
  color: var(--red);
}

/* ======================================================================== */
/* ANIMATED BUTTONS */
/* ======================================================================== */

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.btn {
  width: calc(var(--frameBtn) * var(--scale));
  height: calc(var(--frameBtn) * var(--scale));
  background-repeat: no-repeat;
  background-size: calc(var(--frameBtn) * var(--framesBtn) * var(--scale)) calc(var(--frameBtn) * var(--scale));
  image-rendering: pixelated;
  animation: press 0.9s steps(var(--framesBtn)) infinite;
}

.btn.green {
  background-image: url("../assets/png/btn-green-ss.png");
}
.btn.blue {
  background-image: url("../assets/png/btn-blue-ss.png");
}
.btn.red {
  background-image: url("../assets/png/btn-red-ss.png");
}
.btn.yellow {
  background-image: url("../assets/png/btn-yellow-ss.png");
}

/* ======================================================================== */
/* MODAL PREVIEW */
/* ======================================================================== */

#modalPicturePreview h2 {
  font-family: var(--typo);
  text-align: center;
  margin: 0;
  font-size: 4rem;
}

#modalPicturePreview > article {
  max-width: 1100px;
}

#modalPicturePreview footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 25%;
}

.btn-modal {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn-modal > p {
  font-family: var(--typo);
  font-size: 2.2rem;
  margin: 0;
}
/* ======================================================================== */
/* SPINNER / LOADER */
/* ======================================================================== */
#busyLoader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 9999;
  margin: 0;
}

.oce-talk {
  display: inline-block;
  width: 600px;
  height: 794px;
  background: url("../assets/png/oce-talk.png") 0 0 / 2400px 794px no-repeat;
  animation: oce-talk 0.45s steps(4) infinite;
  transform: scale(0.4);
  position: absolute;
}

#busyLoader p {
  font-family: var(--typo);
  position: absolute;
  margin-top: 400px;
  color: white;
  font-size: 2rem;
}

/* ======================================================================== */
/* GALLERY INSTRUCTION */
/* ======================================================================== */

.gallery-link {
  font-family: var(--typo);
  color: var(--red);
  font-size: 3.5rem;
  text-align: center;
  margin: 3rem;
}

.info-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gif-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif {
  width: 200px;
  height: 200px;
}

/* ======================================================================== */
/* ANIMATIONS */
/* ======================================================================== */

.autoplay {
  animation: press 1s steps(2) infinite;
}

@keyframes oce-talk {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2400px;
  }
}

@keyframes press {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--frameBtn) * var(--framesBtn) * var(--scale)) 0;
  }
}

@keyframes levitation {
  0% {
    transform: translateY(0);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  }
  50% {
    transform: translateY(-12px);
    text-shadow: 0 16px 24px rgba(0, 0, 0, 0.15);
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  }
}
