/* ======================================================================== */
/* ANIMATED BUTTONS */
/* ======================================================================== */

:root {
  --frameBtn: 16px;
  --framesBtn: 2;
  --scale: 5;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.btn {
  width: calc(var(--frameBtn) * var(--scale));
  height: calc(var(--frameBtn) * var(--scale));
  background-repeat: no-repeat;
  background-size: calc(var(--frameBtn) * var(--framesBtn) * var(--scale)) calc(var(--frameBtn) * var(--scale));
  image-rendering: pixelated;
  animation: press 0.9s steps(var(--framesBtn)) infinite;
}

.btn.green {
  background-image: url("../assets/png/btn-green-ss.png");
}
.btn.blue {
  background-image: url("../assets/png/btn-blue-ss.png");
}
.btn.red {
  background-image: url("../assets/png/btn-red-ss.png");
}
.btn.yellow {
  background-image: url("../assets/png/btn-yellow-ss.png");
}

.autoplay {
  animation: press 1s steps(2) infinite;
}

@keyframes press {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--frameBtn) * var(--framesBtn) * var(--scale)) 0;
  }
}
